#row {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#photo {
  background-color: #0e77ff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: relative;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 2000px;
  overflow: hidden;
}

#dp {
  width: 60%;
  border: 40px solid white;
  border-radius: 50%;
  background-color: white;
}

#review {
  position: relative;
  overflow: hidden;
}

#customer-container {
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  padding-right: 10px;
}

#left {
  margin: 10px;
  margin-top: 50px;
}
#right {
  margin: 10px;
  margin-top: 50px;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
